.task-5
{
    background-color: red;
}
.task-4
{
    background-color: orange;
}
.task-3
{
    background-color: yellow;
}
.task-2
{
    background-color: green;
}
.task-1
{
    background-color: lime;
}