.task-5
{
    background-color: #EF2917;
}
.task-4
{
    background-color: #EF8A17;
}
.task-3
{
    background-color: #AEA928;
}
.task-2
{
    background-color: #008148;
}
.task-1
{
    background-color: #034732
}